<div class="container" fxLayout="column" fxLayoutAlign="space-between center" >
  <app-status class="status" ></app-status>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field class="full-width">
      <mat-label>Server IP</mat-label>
      <input matInput [(ngModel)]="ipServer">
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="setIp()">
      <mat-icon>cached</mat-icon>
    </button>
  </div>
  <div class="butts" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">

    <button mat-raised-button color="primary" [disabled]="!isConnected" (click)="gotoWifi()">
      Connect to WIFI
    </button>
    <button mat-raised-button color="primary" [disabled]="!status.wifi" (click)="makeAP()">
      Make Access Point
    </button>
    <button mat-raised-button color="primary" [disabled]="!isConnected" (click)="drive()">
      Drive Robot
    </button>
  </div>
</div>
